<!-- Header Section -->
{{#if admin}}
{{else}}
<section id="header">
    
    <a href="#"><img src="./images/logo.png" class="logo" alt="Logo Image"></a>
    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            {{#if user}}
                {{#if user.profileImage}}
                        <li><a href="/edit-user?id={{user._id}}"><img src="./images/user-images/{{user._id}}.png" alt="" srcset=""
                        style="width: 2rem;height:2rem;border-radius:50%;"></a></li>
                    {{else}}
                        <li><a href="/edit-user?id={{user._id}}"><img src="./images/people/dummy.png" alt="" srcset=""
                        style="width: 2rem;height:2rem;border-radius:50%;"></a></li>
                {{/if}}
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                {{else}}
                    <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
            {{/if}}
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
        <div id="mobile">
            <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
            <i class="fa-solid fa-bars" id="bar"></i>
        </div>
    </div>
</section>
{{/if}}