
  <!-- Hero Page Style -->
  <section id="page-header">
    <h2>#Stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
  </section>

  <!-- Featured Products Section -->
  <section id="product1" class="section-p1">
    <div class="pro-container">
      {{#each products}}
        <div class="pro">
            <a href="/product?productId={{this._id}}">
                <img src="./product-images/{{this._id}}.png" alt="">
                <div class="des">
                    <span>{{this.company}}</span>
                    <h5>{{this.name}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>{{this.cPrice}}</h4>
                </div>
            </a>
            <a href="/add-to-cart?productId={{this._id}}"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        {{/each}}
    </div>
  </section>

  <!-- Pagination Section -->
  <section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-right-long"></i></a>
  </section>

  <!-- NewSletter Section -->
  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
      <input type="email" name="email" placeholder="Your email address" autocomplete="email">
      <button class="normal">Sign Up</button>
    </div>
  </section>
